.input > input {
  width: 30vw;
  margin-bottom: 15px;
  border: 1px solid #a3aed0;
  outline: none;
  border-radius: 8px;
  padding: 9px 8px;
  padding-left: 10px;
}
::placeholder {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
}
